/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack */
    font-family: Sail, Arial,sans-serif;
}
html, body{
    background-color: #FFA1D4;
}
h1{
    font-size: 6.854rem;
    /* ADD the Google serif font to this font stack */
       font-family: Salsa, "Times New Roman",serif;
    padding: 1rem 2rem;
}
h2{
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack */
        font-family: Salsa, "Times New Roman",serif;
    padding: 1rem 2rem;
}
nav li{
    font-size: 3.618rem;`
}
p{
    font-size: 1.618rem;
    padding: 1rem 2rem;
}
.wrapper{
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    background-color: #C879FF;
    color: #FFFAD3;
}
header{
    border-bottom: 0.8rem solid #7F1D22;
    background-color: #1D217F;
    color: #FF3A43;
}
.menu-h{
    width: 100%;
}
.menu-h a:hover{
    background-color: #FF8B2E;
}
.menu-v a:hover{
    background-color: #18FFFA;
}
    .menu-h li{
        list-style-type: none;
       float:left;
        width:20%;
    }
        .menu-h a,
        .menu-h a:link,
        .menu-h a:visited{
            
         display: block;
        padding: 10px;
            
        }
        .menu-h a:hover,
        .menu-h a:active{
        
        }
.menu-h a:focus{
       background-color:#38FF2E; 
}
.menu-v{
    width: 20%;
    float:left;
}
    .menu-v li{
       list-style-type: none;
        width:100%;
    }
        .menu-v a,
        .menu-v a:link,
        .menu-v a:visited{
        display: block;
        }
        .menu-v a:hover,`
        .menu-v a:active{
           background-color:#CC4C48; 
        }


main{
    width:80%;
    float: right;
}  
footer{
    clear:both;
}